<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://172.17.0.168:3306/proyectos_carvajal</property>
    <property name="hibernate.connection.username">carvajal_project</property>
    <property name="hibernate.connection.password">QzrArYUsEp4%5d+f</property>
    <mapping resource="Modelo/Productos.hbm.xml"/>
    <mapping resource="Modelo/Cotizaciones.hbm.xml"/>
    <mapping resource="Modelo/Clientes.hbm.xml"/>
    <mapping resource="Modelo/Empleados.hbm.xml"/>
    <mapping resource="Modelo/ProductosCotizaciones.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
